# This configuration file was originally written by Matteo Bastiani and ? as part of the developing HCP pipeline
# The original configuration file was released under the Apache license 2.0 (https://git.fmrib.ox.ac.uk/matteob/dHCP_neo_dMRI_pipeline_release/blob/master/LICENSE)

# Resolution (knot-spacing) of warps in mm
--warpres=20,14
# Subsampling level (a value of 2 indicates that a 2x2x2 neighbourhood is collapsed to 1 voxel)
--subsamp=2,2
# FWHM of gaussian smoothing
--fwhm=8,4
# Maximum number of iterations
--miter=5,5
# Relative weight of regularisation
--lambda=0.0005,0.00001
# If set to 1 lambda is multiplied by the current average squared difference
--ssqlambda=1
# Regularisation model
--regmod=bending_energy
# If set to 1 movements are estimated along with the field
--estmov=1
# 0=Levenberg-Marquardt, 1=Scaled Conjugate Gradient
--minmet=0
# Quadratic or cubic splines
--splineorder=3
# Precision for calculation and storage of Hessian
--numprec=double
# Linear or spline interpolation
--interp=spline
# If set to 1 the images are individually scaled to a common mean intensity 
--scale=1
# To ensure that field is written
--fout=field_test
# To ensure that "unwarped" images are written
--iout=iout_test
